<div class="row">
  <div class="col-md-8">
    <%= render 'blogs' %>
  </div>
  <div class="col-md-3 ml-4">
    <div class="mb-5 text-dark">
      <h6 class="mb-4"><b>Tags To Follow</b></h6>
      <% @trending_tags.each do |tag_name, _| %>
        <div class="mr-2 mb-4 overflow-hidden">
          <p class="mb-1"><b><span class="text-20 ml-5"><%= tag_name %></span></b><button class="btn btn-outline-success  float-right mr-4"> +Follow</button></p>
        </div>
      <% end %>
    </div>
    <div class="text-dark mt-5">
      <h6 class="mb-4"><b>Top Categories</b></h6>
      <% @trending_categories.each do |category| %>
        <div class="mr-2 mb-4 overflow-hidden">
          <p class="mb-1"><b><span class="text-20 ml-5"><%= category.name %></span></b><button class="btn btn-outline-success float-right mr-4"> +Follow</button></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
