<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="" align="center">
    <img src= "<%= image_url('404-not-found.jpg') %>" width= "80%" height= "80%" loading="lazy">
  </div>
  <div align="center">
    <a href="https://www.freepik.com/vectors/business">Business vector created by pikisuperstar - www.freepik.com</a>
  </div>
</body>
</html>
