<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 px-lg-0">
      <div class="row">
        <div class="col-md-9">
          <div class="c-wrap mb-3 p-4">
            <div class="align-items-center">
              <h2>Manage your Feed</h2>
              <h5>You can customise the followings of People, Categories and Tags.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 px-lg-0">
      <div class="row">
        <div class="col-md-9">
          <%= render 'following_tab', tab_selected: tab_selected %>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>

