@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

:root {
  --theme: #65CCB8;
  --deeptheme: #57BA98;
  --ligntheme: rgb(101,204,184,0.1);
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.navbar-nav li{
  margin-right: 5px;
  margin-left: 10px;
}

.navbar ul{
  margin-left: 10px;
}

.navbar-brand{
  font-size: 22px;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.scrollable-menu {
  height: auto;
  max-height: 410px;
  overflow-x: hidden;
}

.navbar-nav .dropdown-menu {
  width: 300px;
}

.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}

.inline-para {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.description-container img {
  vertical-align: middle;
  border-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.border-corner{
  border-radius: 10px;
}

.share-icons {
  float: right;
}

.text-15 {
  font-size: 15px;
}

.text-20 {
  font-size: 20px;
}

.comment-text p, .bio-text p {
  font-family: cursive;
  opacity: 0.9;
}

.btn-theme{
  background-color: var(--theme);
}

.btn-theme:hover{
  background-color: var(--deeptheme);
}

.btn-theme:active {
  background-color: var(--deeptheme);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.fa-theme {
  color: var(--theme);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--deeptheme);
}

.fa-theme-red {
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

.btn-outline-success{
  color: var(--theme);
  border-color: var(--theme);
}

.btn-outline-success:hover{
  color: black;
  background-color: var(--theme);
}

.trending-card {
  height: 250px;
  width: 200px;
  transition: box-shadow 0.3s;
}

.trending-card .rounded-circle{
  width: fit-content;
}

.trending-card .card-image{
  height: 100px;
}

.trending-card .card-image img {
  margin: auto;
  display: block;
  max-height: 100%;
  width: auto;
}

.trending-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.trending-users .col-3 {
  flex: 0 0 10%;
  max-width: 25%;
}

.trending-users {
  overflow-x: auto;
}

.card-body{
  position: absolute;
  bottom: 0;
  left: 0;
}

.highlight-hover{
  transition: box-shadow 0.1s;
}

#follow-container {
  display: inline;
}

.highlight-hover:hover{
  // background-color: var(--ligntheme);
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  border-radius: 10px;
}

.two-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.error {
  color: red;
}

.error-msg {
  font-size: 14px;
}

.user-articles nav{
  height: 50px;
}

.user-articles nav .nav-link{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.user-articles nav .nav-link.active{
  background-color: var(--theme);
}
/* tags css */ 
.blog-form-tags .bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
}
.blog-form-tags .bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.blog-form-tags .bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.blog-form-tags .bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.blog-form-tags .bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.blog-form-tags .bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.blog-form-tags .bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.blog-form-tags .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.blog-form-tags .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.blog-form-tags .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.blog-form-tags .label-info {
  background-color: var(--theme);
}
.blog-form-tags .label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 85%;
  font-weight: 700;
  line-height: 3;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.blog-form-tags label{
  width: 100%;
}


.blog-form-tags .tt-input {
  width: 8em !important;
}

.d-none{
  display: none;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

div.dropdown-row>a.dropdown-item{
  display:inline-block;
  width: 32%;
}

div.dropdown-multicol{
  width: 30em;
}
div.dropdown-multicol>div.dropdown-col{
  display:inline-block;
  width: 32%;
}

.navbar-nav .multicol-dd {
  width: 400px;
}

.content-inside{
  overflow-wrap: break-word;
}

@media only screen and (max-width: 430px) {
  
  .trending-users .col-3 {
    margin-right: 40px;
  }
}