@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

:root {
  --theme: #65CCB8;
  --deeptheme: #57BA98;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.navbar-nav li{
  margin-right: 5px;
  margin-left: 10px;
}

.navbar ul{
  margin-left: 10px;
}

.navbar-brand{
  font-size: 22px;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.scrollable-menu {
  height: auto;
  max-height: 410px;
  overflow-x: hidden;
}

.navbar-nav .dropdown-menu {
  width: 300px;
}

.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}

.inline-para {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.description-container img {
  vertical-align: middle;
  border-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.border-corner{
  border-radius: 10px;
}

.share-icons {
  float: right;
}

.text-15 {
  font-size: 15px;
}

.text-20 {
  font-size: 20px;
}

.comment-text p, .bio-text p {
  font-family: cursive;
  opacity: 0.9;
}

.btn-theme{
  background-color: var(--theme);
}

.btn-theme:hover{
  background-color: var(--deeptheme);
}

.btn-theme:active {
  background-color: var(--deeptheme);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.fa-theme {
  color: var(--theme);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--deeptheme);
}

.fa-theme-red {
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

.btn-outline-success{
  color: var(--theme);
  border-color: var(--theme);
}

.btn-outline-success:hover{
  color: black;
  background-color: var(--theme);
}

@media only screen and (max-width: 430px) {
  .navbar-nav .dropdown-menu {
    width: 90%;
  }
}