<div class="modal hide" id="signup_modal" aria-hidden="true" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" style="padding: 10px;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= render 'layouts/signup' %>
      </div>
    </div>
  </div>
</div>